body {
    margin: 0 15%;
    background-color: #2e2e2e;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.3rem;
}

a {
    color: aqua;
}

figure {
    text-align: center;
}